{
{{$n := len .Creators}}{{range  $i, $e := .Creators}}{{if $i}}, {{end}}{{if eq (plus1 $i) $n}} {{end}}{{$e}}{{end}}
    
    "name": "{{.Name}}",
    "symbol": "",
    "description": "Netherworld Tales NFT Collection Vol 1 - {{.Name}}",
    "seller_fee_basis_points": 500,
    "image": "image.png",
    "attributes": [
      {
        "trait_type": "Shape",
        "value": "{{.Shape}}"
      },
      {
        "trait_type": "Top Light",
        "value": "{{.TopLight}}"
      },
      {
        "trait_type": "Mid Light",
        "value": "{{.MidLight}}"
      },
      {
        "trait_type": "Rarity",
        "value": "{{.Rarity}}"
      }
    ],
    "collection": {
       "name": "Netherworld Tales NFT Collection Vol 1",
       "family": "NetherworldTales"
    },
    "properties": {
      "files": [
        {
          "uri": "image.png",
          "type": "image/png"
        }
      ],
      "category": "image",
      "creators": [{{$n := len .Creators}}{{range  $i, $e := .Creators}}{{if $i}}, {{end}}
        {
        "address": "{{$e}}",
        "share": 33
        }{{end}}
      ]
    }
  }